body{
  background: white;
}

.container{
  background-color: white;
  border-radius: 10px;
  margin-top: 5%;
  margin-left: 25%;
  width:50%;
  border: 5px solid white;
  background-color: #e6e6e6;
  border: none;
  position: fixed;
}

#invalid-text, #taken-text{
  color: red;
  text-align: center;
  visibility: hidden;
}
.submit{
background: linear-gradient(80deg, #00C9FF 0%, #92FE9D 100%);
border:none;
margin-top: 5%;
display:block;
width:100%;
font-size: 20px;;
}
.submit:active{
background: linear-gradient(10deg, #00C9FF 0%, #92FE9D 100%);

}
.form-control{
  background-color: whitesmoke;
  border: none;
  font-size: 20px;;
  margin-top: 1%;
  border-radius: 0px;
}
#login-txt{
  color:white;
}


.click-here{
  color: white;
}
.click-here:hover{
  color: gray;
  cursor: pointer;
}
