body{
  background-color:#0a192f;
  overflow: scroll;
}

.container{
  border-radius: 10px;
  margin-top: 5%;
  display:block;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 5%;
  width:600px;
  border: 5px solid white;
  background-color: rgba(255,255,255,0.3);
  border: none;
  position: relative;
  overflow:auto;
}
@media only screen and (max-width: 600px) {
  .container {
    width:90%;

    margin-left: 5%;
  }
}


#invalid-text, #taken-text{
  color: red;
  text-align: center;
  display:none;
}
#profile-pic{
  border-radius: 50%;
  height: 200px;
  width:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-control{
  background-color: whitesmoke;
  border: none;
  font-size: 20px;;
  margin-top: 1%;
  border-radius: 0px;
}
.submit{
  width:100%;
  background-color: #2691d9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.submit:hover{
  background-color: #398ec6;

}
.submit-pass{
  width:40%;
  background-color: #2691d9;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float:right;

}
#forgot-username{
  width:50%;
  float:left;
}
#login-txt{
  color: #52a39e;
}


.click-here{
  color: white;
}
.click-here:hover{
  color: gray;
  cursor: pointer;
}
#password-form{
  display:none;
}

