body{
  background-color:white;
}
#topnav {
  background-color:#0a192f;
  color:white;
  overflow: hidden;
  margin-bottom: 1%;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


#topnav a:hover {
  color: #52a39e;
}

#topnav-right {
  float: right;
}
#profileimage{
  border-radius: 50%;
  height: 200px;
  width:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#userpost{
  margin-bottom: 5%;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.postimg{
  height:200px;
  width:200px;
}
@media only screen and (max-width: 1200px) {
  #profileimage{

    height: 300px;
    width:300px;

  }



}
