body{
  background-color:white;
 
}
#topnav {
  background-color:#0a192f;
  color:white;
  overflow: hidden;
  margin-bottom: 1%;
}

#topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


#topnav a:hover {
  color: #52a39e;
}

#topnav-right {
  float: right;
}
#profileimage{
  border-radius: 50%;
  height: 200px;
  width:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button{
    border:none;
    font-size: 20px;
    height:20px; 
    width:10%; 
    margin-bottom: 2%;
    padding-bottom: 40px;
    position:relative;
    top:50%; 
    background-color:white;
    color: #1E90FF;
    
    
}
button:hover{
    color:#0a192f;
}
#posts-section{
    display:block;
}
#friends-section{
    display:none;
}
#postbutton{
     left:15%;
     color:#0a192f;
}
#friendsbutton{
    left:60%;
}
#userpost{
  margin-bottom: 5%;
  width:80%;
  position:relative;
  margin-right:auto;
  margin-left:auto;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.postimg{
  height:200px;
  width:200px;
}
#add-friend,#added{
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #1E90FF;
  border:none;
  border-radius: 5px;
  width:20%;
  margin-top:2%;
  margin-bottom:1%;
  color:white;
  text-align: center;
  font-size: 25px;
  padding: 1%;

}
#add-friend:hover{
  background-color: #0a192f;
}

.friend{
    background-color:#f2f2ff;
   color:#0a192f;
  overflow: hidden;
  width:600px;
  border-radius: 5px;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  float: left;
  
}
.friend:hover{
    
    background-color:#f2f2f2;
}
.friend h6{
    font-size: 30px;
    
}
.friend img{
  border-radius: 50%;
  height: 100px;
  width:100px;
  float:left;
  margin:1%;
  
}
@media only screen and (max-width: 1200px) {
  #profileimage{

    height: 300px;
    width:300px;

  }



}






