body{
  background-color:whitesmoke;
    overflow:scroll;
  
}
#topnav {
  background-color:white;
  padding-top:5px;
  overflow: hidden;
  border-bottom: 2px solid whitesmoke;
  margin-bottom: 5px;
    
  
}

#topnav a {
  float: left;
  color: #0a192f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


#topnav a:hover {
  color: #52a39e;
}

#topnav-right {
  float: right;
}

#topnav-right img{
  float: left;
}
#profileImage{
  width:50px;
  height:50px;
  border-radius: 50%;
   display: block;
   margin: 0 auto;
}
#search-form{
  float:left;
  color:white;
  font-size: 20px;
  margin: 10px;
  padding:5px 5px;
  border:none;
  border-radius:4px;
}
#search-text{
  background-color: whitesmoke;
  border:none;
  border-radius:5px;
  font-size:25px;
  padding:5px 5px;;
}
#search-submit{
  background-color: #0a192f;
  color:white;
  border:none;
  border-radius:5px;
  font-size:25px;
  padding:5px 5px;;
}
#search-submit:hover{
  background-color: #52a39e;
}

#newPost{
    background-color:white;
    width:60%;
    min-height:300px;
    margin-left: 20%;
    border-radius:5px;
    overflow:hidden;
    margin-top:2%;
}

#newPost-profileImage{
    border-radius:100%;
    width:60px;
    margin:10px;
}

#post-text{
    margin-left:5%;
    width:90%;
    border-radius:5px;
    border-color: grey;
}
#charCount{
    color: #0a192f;
    float:right;
    margin-right:5%;
    
}
#uploadImage{
    margin-left:5%;
    margin-right:5%;
    float:left;
}

#uploadPost{
  margin:2% 8%;
  font-size:25px;
  width:25%;
  float:left;
  border:none;
  border-radius:5px;
  background-color: #0a192f;
  color:white;
  
}
#uploadPost:hover{
    background-color: #52a39e;
}

.post {
    background-color:white;
    width:60%;
    margin-left: 20%;
    border-radius:5px;
    overflow:hidden;
    margin-top:2%;
}

.post-person{
    
    overflow: hidden;
}
.post-profileImage{
   border-radius:100%;
    width:60px;
    margin:10px;
    float:left;
}

.post-personName{
    margin: 30px;
}
.post-content{
    text-align: center;
}

.post-contentImage{
    dsiplay:block;
    position: relative;

}
.post-contentText{
    padding: 5px;;
}

#Profile{
    margin: 1% 20%;
    text-align: center;
}

#userImage{
    border-radius:100%;
}